* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 70px;
  align-items: center;
  justify-content: center;
}
.left-div {
  transform: scale(1.3);
  display: flex;
  flex-direction: column;

  padding: 5rem;
  padding-left: 15rem;
}

.grid-size-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.opacity-level-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  height: 30px;
  width: 150px;
  border-color: black;
  border-width: medium;
  border-style: solid;
}
label {
  font-size: 20px;
}
.right-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}
.grid-container-div {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.heading.div {
  display: flex;
  height: 100px;
  width: 100%;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .left-div {
    padding: 2rem;
    transform: scale(0.8);
    padding-bottom: 0.5rem;
  }
  .right-div {
    padding-top: 1rem;
  }
  button {
    margin-top: 1rem;
    padding: 0.5rem;
  }
}
